# This is a basic workflow to help you get started with Actions

name: Windows build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the develop branch
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2016
    strategy:
      matrix:
        bitness: [ 64, 32 ]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.12.7'
          host: 'windows'
          arch: ${{ matrix.bitness == 32 && 'win32_msvc2017' || 'win64_msvc2017_64' }}
          dir: 'C:/'

      - name: Download Boost
        run: cd .. && curl -LO https://boostorg.jfrog.io/artifactory/main/release/1.70.0/source/boost_1_70_0.tar.bz2 && tar xjf boost_1_70_0.tar.bz2

      - name: Download libgit2
        run: curl -fsSL https://github.com/libgit2/libgit2/archive/v1.1.0.zip -o libgit2.zip && 7z x libgit2.zip && mv libgit2-1.1.0 ../libgit2

      - name: Build libgit2
        run: mkdir ../libgit2/build${{ matrix.bitness }} && cd ../libgit2/build${{ matrix.bitness }} && cmake -G "Visual Studio 15 2017${{ matrix.bitness == 64 && ' Win64' || '' }}" .. && cmake --build . --config Release

      - name: Build Fritzing
        shell: cmd
        run: |
          CALL "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\Tools\VsDevCmd.bat" -host_arch=amd64 -arch=${{ matrix.bitness == 32 && 'x86' || 'amd64' }}
          CALL tools\release_fritzing.bat 0.9.6 ${{ matrix.bitness }} 2017

      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: release${{ matrix.bitness }}
          path: ${{ runner.workspace }}/release${{ matrix.bitness }}
